@model InventoryRepo.Models.Dashboard
@{ ViewBag.Title = "Dashboard";
  Layout = "~/Views/Shared/_Layout.cshtml"; }

@*<div class="row mb-2">*@
<div class="col-12">
  <div class="col-sm-6">
    <br />
    <h3 class="m-0 text-dark">Dashboard</h3>
    <br />

  </div>
</div>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>@Model.totalStores</h3>

            <p>Stores</p>
          </div>
          <div class="icon">
            <i class="ion ion-location"></i>
          </div>
          <a href="/Locations/Index" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h3>@Model.totalOprational</h3>

            <p>Operational</p>
          </div>
          <div class="icon">
            <i class="ion ion-checkmark"></i>
          </div>
          <a href="/Items/Index" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-fuchsia">
          <div class="inner">
            <h3>@Model.totalDecommissioned</h3>

            <p>Decommissioned</p>
          </div>
          <div class="icon">
            <i class="ion ion-close"></i>
          </div>
          <a href="/Items/Index" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
          <div class="inner">
            <h3>@Model.totalDisposed</h3>

            <p>Disposed</p>
          </div>
          <div class="icon">
            <i class="ion ion-sad-outline"></i>
          </div>
          <a href="/Items/Index" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
